
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
}

.header-bg{
    background-color: rgba(14, 89, 239, 0.85);
    transition: 0.5s;
}
.Nav-menu {
    display: flex;
}
.Nav-menu li {
    padding: 0% 1rem;
}
.Nav-menu li a{
    font-size: 1.2rem;
    font-weight: 500;
}
.hamburger{
    display: none;
}
.profile-pic-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    transition: all 0.5s ease;
    cursor: pointer;
}
.profile-pic-container:hover {
    transform: scale(1.05);
    border-color: #4a90e2;
}
.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width: 1040px) {
    .Nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }
    .Nav-menu.active{
        left: 0;
    }
    .Nav-menu li{
        padding: 1rem 0;
    }
    .Nav-menu li a{
        font-size: 2rem;
    }
    .hamburger{
    display: initial;
    }
    .profile-pic-container {
        width: 50px;
        height: 50px;
    }
}