.skills{
    color:white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: rgb(8, 114, 156,0.85);
    padding: 0 1.3rem;
    justify-content: center;
    align-items: center;
}


.skills h1{
    justify-content: center;
    text-align: center;
    background: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 500px;

    transition: 2s ease 0s;
}
.skills h1:hover{
    background-color: rgb(80, 0, 254);
    width: 100%;
}
