@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
body{
  background: #000;
}

h1, h4, p, a{
  color: aliceblue;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 8px;
  background: rgb(14, 89, 239);
  color: #222;
  border: 1px none #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn-light{
  background: rgba(37, 11, 103, 0.244);
  color: #fff;
}
.btn:hover{
  background: rgba(255, 255,255,0.2);
  color: #fff;
  transition: 0.3s;
}